head
  link(rel="stylesheet" href="navbar.css")

body
  nav.navbar
    .container
      a.brand(href="/") SaveBytes
      ul.nav-links
        //- li: a(href="/") Home
        li: a(href="/") Dashboard
        li: a(href="/about") About
        li: a(href="/contact") Contact Us
